* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf9fe;
}

.skill-main-container {
  width: 100%;
  height: 630px;
  margin-top: 4.2rem;
}

.skill-heading-div {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.skill-heading {
  width: 90%;
  color: #001c55;
  height: 150px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-main-div {
  width: 100%;
  height: 460px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-sub-div {
  width: 90%;
  height: 100%;
  display: flex;
}

.skill-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mern-png {
  width: 100%;
  height: 350px;
  background-color: #edf9fe;
}

.skill-right {
  width: 50%;
  height: 100%;
}

.skill-h {
  font-size: 30px;
  color: #001c55;
  width: 100%;
  height: 80px;
  display: flex;
  /* align-items: baseline; */
  /* align-items: center; */
  /* justify-content: center; */
}

.skill-ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 150px;
  /* margin-top: -2rem; */
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-left: -3.5rem;
}

.mongodb {
  color: #55ad47;
}

.react {
  color: #61dafb;
}

.express {
}

.node {
  color: #4aaa4d;
  /* font-size: 140px; */
}

.skill-text-div {
  width: 100%;
  height: 230px;
}

.skill-text {
  display: flex;
  line-height: 1.5rem;
  font-size: 20px;
  color: #7f8daa;
}

@media screen and (max-width: 768px) {
  .skill-main-container {
    width: 100%;
    height: 100%;
    margin-top: 210px;
    /* background-color: tomato; */
  }

  .skill-li .mongodb,
  .skill-ul .skill-li .express,
  .skill-ul .skill-li .react {
    font-size: 40px;
  }

  .skill-ul .skill-li .node {
    font-size: 80px;
  }

  .skill-sub-div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .mern-png {
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
  }

  .skill-right {
    width: 100%;
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .skill-heading-div {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-heading {
    width: 100%;
    height: auto;
    font-size: 30px;
  }

  .skill-h {
    font-size: 25px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skill-ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }

  .skill-li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skill-text-div {
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  .skill-text {
    font-size: 16px;
    line-height: 1.5rem;
    text-align: justify;
    word-wrap: break-word;
  }

  .skill-left {
    order: 2;
    width: 100%;
    margin-top: 20px;
  }
}
