* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf9fe;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: myFont;
  src: url(../../assets/font/signature.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(90deg, #a6e1fa, #91d6f4);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  top: 0;
  position: sticky;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 38px;
  cursor: pointer;
}

.logo-text {
  font-family: myFont;
  color: #001c55;
}

.menu {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  gap: 20px;
}

.menu-items {
  text-decoration: none;
  color: #001c55;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 8px;
}

.menu-items:hover {
  background: linear-gradient(90deg, #fdfbfb, #ebedee);
  color: #001c55;
  transform: scale(1.1);
}

.menu-items.active {
  background: linear-gradient(90deg, #91d6f4, #a6e1fa);
  color: #fff;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.menu-icon {
  display: none;
  margin-left: auto;
}

.menu-open {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 0 20px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  background-color: #a6e1fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.menu-open.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .header {
    top: 0;
    z-index: 1000;
    position: sticky;
    padding: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    background-color: #a6e1fa;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    margin: 0 20px;
  }

  /* .menu-items {
    padding: 1rem;
    width: auto;
    text-align: left;
  }

  .menu-items:hover {
    font-weight: bold;
    background: linear-gradient(90deg, #91d6f4, #a6e1fa);
    color: #fff;
  } */

  .menu-items {
    width: 100%;
    color: #001c55;
    border-radius: 8px;
    padding: 10px 15px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  }

  .menu-items:hover {
    background: linear-gradient(90deg, #fdfbfb, #ebedee);
    color: #001c55;
    transform: scale(1.1);
  }

  .menu-items.active {
    width: 100%;
    color: #fff;
    font-weight: bold;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background: linear-gradient(90deg, #91d6f4, #a6e1fa);
  }
}
