* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #edf9fe;
  font-family: "Inter", sans-serif;
}

@font-face {
  font-family: myFont;
  src: url(../../assets/font/signature.ttf);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  background-color: #a6e1fa;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 38px;
  cursor: pointer;
}

.logo-text {
  font-family: myFont;
  color: #001c55;
}

.menu {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  list-style: none;
  cursor: pointer;
  gap: 15px;
}

.menu-items {
  text-decoration: none;
  color: #001c55;
  padding: 15px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 5px;
}

.menu-items:hover {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  transform: scale(1.05);
}

.menu-icon {
  display: none;
  margin-left: auto;
}

.menu-open {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  flex-direction: column;
  width: calc(100% - 40px);
  margin: 0 20px;
  transition: all 0.3s ease-in-out, opacity 0.3s ease;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-10px);
  background-color: #a6e1fa;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-open.show {
  opacity: 1;
  transform: translateY(0);
}

@media screen and (max-width: 768px) {
  .header {
    top: 0;
    z-index: 1000;
    position: sticky;
    padding: 1rem 1rem;
    flex-direction: row;
    align-items: center;
    background-color: #a6e1fa;
  }

  .menu {
    display: none;
  }

  .menu-icon {
    display: block;
    margin-left: auto;
  }

  .menu-open {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    padding: 10px 0;
    margin: 0 20px;
  }

  .menu-items {
    padding: 1rem;
    width: auto;
    text-align: left;
  }

  .menu-items:hover {
    font-weight: bold;
    background-color: #a6e1fa;
    color: #000;
  }
}
