body {
  background-color: #edf9fe;
  font-family: Arial, sans-serif;
}

.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-button {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #edf9fe;
  background-color: #001c55;
  border: 1px solid #001c55;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.main-button:hover {
  color: #001c55;
  background-color: #edf9fe;
}

.contact-heading,
.blog-section,
.address-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  max-width: 1200px;
}

.contact-heading-img-div,
.blog-heading-img-div,
.address-heading-img-div {
  flex: 1;
}

.contact-my-img,
.responsive-img {
  width: 80%;
  border-radius: 10%;
}

.contact-my-img {
  width: 80%;
  height: auto;
  margin-top: 20px;
  max-height: 500px;
  border-radius: 10%;
  object-fit: cover;
}

.contact-heading-text-div,
.blog-heading-text-div,
.address-heading-text-div {
  flex: 1;
  text-align: center;
}

.address-heading-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-visit {
  width: 100%;
}

.blog-heading-text-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.resume-btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}

.contact-heading-text,
.blog-heading-text,
.address-heading-text {
  font-size: 2.5rem;
  color: #001c55;
  margin-bottom: 1rem;
}

.contact-heading-detail-text,
.blog-heading-details-text,
.address-heading-details-text {
  font-size: 1.2rem;
  color: #7f8daa;
  margin-bottom: 1rem;
}

.contact-social-media-div {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.social-media-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #001c55;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.social-media-icons:hover {
  background-color: #7f8daa;
}

@media (max-width: 768px) {
  .contact-heading,
  .blog-section,
  .address-section {
    flex-direction: column;
    text-align: center;
  }

  .contact-heading-img-div,
  .blog-heading-img-div,
  .address-heading-img-div {
    order: 1;
    width: 100%;
  }

  .contact-heading-text-div,
  .blog-heading-text-div,
  .address-heading-text-div {
    order: 2;
    width: 100%;
    margin-top: 1rem;
  }

  .contact-my-img,
  .responsive-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .contact-my-img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    max-height: 350px;
    border-radius: 10%;
    object-fit: cover;
  }

  .contact-heading-text,
  .blog-heading-text,
  .address-heading-text {
    font-size: 1.8rem;
  }

  .contact-heading-detail-text,
  .blog-heading-details-text,
  .address-heading-details-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .main-button {
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
  }

  .contact-social-media-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
}
